<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- jui lib -->

    <!-- Basic style components -->
    <link rel="stylesheet" href="lib/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="lib/jui/dist/ui-jennifer.min.css"/>

    <!-- Grid style components -->
    <link rel="stylesheet" href="lib/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="lib/jui-grid/dist/grid-jennifer.min.css"/>

    <!-- Required script files -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <script src="lib/jui-core/dist/core.min.js"></script>

    <!-- Basic script components -->
    <script src="lib/jui/dist/ui.min.js"></script>

    <!-- Grid script components -->
    <script src="lib/jui-grid/dist/grid.min.js"></script>

    <!-- jui chartClass -->
    <script src="lib/jui-core/dist/core.min.js"></script>
    <script src="lib/jui-chart/dist/chart.min.js"></script>


    <!-- jui lib -->
    <script src="lib/jsonPath/jsonPath.js" type="text/javascript"></script>

</head>

<body id="body" class="jui">

<button id="btnCreate">button Add</button>
<!--<div id="chartSection" style="width : 1000px; height: 450px;"/>-->
<div id="divTest">help</div>
</body>

<script src="javascripts/chartClass/dateChart.js" type="text/javascript"></script>

<script src="javascripts/apiHelper.js" type="text/javascript"></script>

<script>

    var i = 0;

    jui.ready(["chart.builder", "util.base", "util.time"], function (builder, _, time) {

        $("#btnCreate").click(function()
        {
            var iDiv = document.createElement('div');
            iDiv.id = 'chartSection' + i++;

            console.log(iDiv.id);

            $("#body").append(iDiv);

            var domId= "#divTest";

            $(domId).draggable();

//            new dateChart(builder,time,"#"+iDiv.id);
        });
    });

</script>

</html>
