<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jui lib -->

    <!-- Basic style components -->
    <link rel="stylesheet" href="lib/jui/dist/ui.min.css"/>
    <link rel="stylesheet" href="lib/jui/dist/ui-jennifer.min.css"/>

    <!-- Grid style components -->
    <link rel="stylesheet" href="lib/jui-grid/dist/grid.min.css"/>
    <link rel="stylesheet" href="lib/jui-grid/dist/grid-jennifer.min.css"/>


    <!--Bootstrap CSS-->
    <link rel='stylesheet' href='/stylesheets/sidebar.css'/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
</head>
<body>

</body>
</html>