<style>
    .panel-default {
        border-color: transparent;
    }
</style>

<div class="row" style="height: 100%">

    <div class="col-lg-8" style="height: 50%; padding-right:0px">

        <div class="col-lg-12" style="height: 50%; padding-right: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="height: 50%; padding-right: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="height: 50%; padding-right: 0px; padding-left: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4" style="height: 50%; padding-left:0px">
        <div class="panel panel-default" style="height: 100%">
            <div class="panel-body" style="height: 100%">
            </div>
        </div>
    </div>

    <div class="col-lg-8" style="height: 50%; padding-right:0px">

        <div class="col-lg-6" style="height: 50%; padding-right: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="height: 50%; padding-right: 0px; padding-left: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="height: 50%; padding-right: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

        <div class="col-lg-6" style="height: 50%; padding-right: 0px; padding-left: 0px">
            <div class="panel panel-default" style="height: 100%">
                <div class="panel-body" style="height: 100%">
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4" style="height: 50%; padding-left:0px">
        <div class="panel panel-default" style="height: 100%">
            <div class="panel-body" style="height: 100%">
            </div>
        </div>
    </div>

</div>